body{
	background-image: url(style/sand.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
}

main{

}

section{

}

div{

}

h1{

}

h2{

}

p{

}

#picture-parent{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#pic1-parent{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 300px;
	width: 300px;
	padding: 30px;
	background-color: rgba(0, 150, 255, .5);
}

#pic2-parent{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 300px;
	width: 300px;
	padding: 30px;
	background-color: rgba(0, 150, 255, .5);
}

#pic3-parent{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 300px;
	width: 300px;
	padding: 30px;
	background-color: rgba(0, 150, 255, .5);
}

#pic1{
	border-radius: 10px;
	width: 300px;
}

#pic2{
	border-radius: 10px;
	width: 300px;
}

#pic3{
	border-radius: 10px;
	width: 300px;
}

#statsSection{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.5);
	width: 1080px;
	border-radius: 10px;
	padding: 20px;
}

#stats{
	border-radius: 10px;
	/*display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;*/
}

#instructions{
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
	padding: 20px;
	width: 1080px;

}












/*end*/
