body{
	background-image: url(style/sand.jpg);
}

header{

}

main{

}

section{

}

div{

}

table{
	border-collapse: collapse;
}

tr{

}

td{
	border: 2px solid black;
}

h1{

}

h2{

}

p{

}

#picture-parent{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

#pic1-parent{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 560px;
	width: 470px;
	background-color: rgba(0, 150, 255, .5);
}

#pic2-parent{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 560px;
	width: 470px;
	background-color: rgba(0, 150, 255, .5);
}

#pic3-parent{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 560px;
	width: 470px;
	background-color: rgba(0, 150, 255, .5);
}

#statSection{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#stats{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80%;S
}

#pic1{
	border-radius: 10px;
}

#pic2{
	border-radius: 10px;
}

#pic3{
	border-radius: 10px;
}









/*end*/
